<template>
  <div class="header-block">
    <b-container fluid>
      <b-row>

        <div class="header">
          <a href="#" class="icon"><b-icon-arrow-left /></a>
          <p class="text"><img src="@/assets/ec-logo.jpeg" alt=""><span>Forecasting:</span> <b>Opportunity Name</b> </p>
        </div>

        <h2>Forecast Name</h2>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "header-block",
  data() {
    return {};
  },
};
</script>

<style>

.header-block h2{
  padding: 40px 30px;
  display: block;
  background: #fff;
  font-size: 2rem;
  letter-spacing: 0.5px;
  color: #000;
  border-bottom: 1px solid rgb(220, 220, 220);
  margin-bottom: 1rem;
}

.header-block .header p{
  margin: 0;
  letter-spacing: 0.5px;
}

.header-block .header .text{
  color: #fff;
}

.header-block .header .text img{
  max-width: 40px;
  margin-right: 20px;
}

.header-block .header .text span{
  font-size: 0.9rem;
  color: #e8e8e8;
}

.header-block .header .text b{
  font-size: 1.1rem;
}

.header-block .header .icon{
  width: 60px;
  height: 60px;
  border-right: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.header-block .header .icon svg{
  color: #e8e8e8;
  width: auto;
  height: 25px;
  transition: .2s ease-in-out;
}

.header-block .header .icon:hover svg{
  color: rgb(255, 255, 255);
  transform: scale(0.9);
}

.header-block .header{
  background: #000;
  display: flex;
  align-items: center;
  padding: 0;
}
</style>
