<template>
  <div class="table-block">
    <b-container fluid>
      <b-row align-h="end">
          <div style="text-align: right;">
          <b-dropdown split text="VIEW">
            <b-dropdown-item href="#">Show full attribute</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item href="#">Show monthly summery</b-dropdown-item>
          </b-dropdown>
          </div>
      </b-row>

      <b-row>
          <b-table sticky-header :items="items" :fields="fields" responsive />
      </b-row>
    </b-container>
  </div>
</template>

<script>
import lineItemData from "../assets/lineItemData.json";
// import summaryYears from "../assets/summaryYears.json";

export default {
  name: "table-block",
  data() {
    return {
      items: lineItemData,  
      fields: [
        {key: 'productItemName',label: 'Product'},
        {key: 'optionItemName',label: 'Option'},
        {key: 'attributes',label: 'Attribute'},
        {key: 'revenueType',label: 'Revenue Type'},
        {key: 'qty',label: 'QTY'},
        {key: 'unitPrice',label: 'Unit Price'},
        {key: 'startMonth',label: 'Start Month'},
        {key: 'months',label: 'Months'},
        {key: 'revenueRecognitionName',label: 'Revenue Recognition'},
        {key: 'committed',label: 'Commited'},
        {key: 'displayUnitPrice',label: '2018'},
        {key: 'productFLIId',label: '2019'}
      ],
    };
  }
};
</script>

<style>
.table-block{
  position: relative;
}

.table-block .dropdown{
  margin-bottom: 1rem;
}

.table-block .dropdown .dropdown-toggle-split .sr-only{
  display: none;
}

.table-block .dropdown .btn{
  padding: 10px 25px;
}

.table-block .dropdown .dropdown-toggle-split{
  border-left: 1px solid #f4f4f4;
  padding: 10px 20px;
}

.table-block .table-responsive{
  border-top: 1px solid rgb(220, 220, 220);
  background: #fff;
}
</style>
