<template>
  <div id="app">
    <header-block />
    <table-block />
  </div>
</template>

<script>
import HeaderBlock from "./components/HeaderBlock.vue";
import TableBlock from "./components/TableBlock.vue";

export default {
  name: "App",
  components: {
    HeaderBlock,
    TableBlock
  },
};
</script>

<style>

body{
  background: #f4f4f4 !important;
}
</style>
